<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szu.insight.mail.model.Mail">
	
	<resultMap id="Mail" type="Mail">
		<id property="id" column="ID" jdbcType="INTEGER" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="TABLE">
		T_MAIL
	</sql>
	
	<sql id="COLUMNS">
		ID,NAME
	</sql>
	
	<select id="select" resultMap="Mail">
		SELECT
			ID,
			NAME
		FROM 
			<include refid="TABLE" />
	</select>
	
	<insert id="insert" parameterType="Mail">
		INSERT INTO <include refid="TABLE" />
		(<include refid="COLUMNS" />)
		VALUES
		(#{id},#{name})
	</insert>
	
	<update id="update" parameterType="Mail">
		UPDATE  <include refid="TABLE" />
		<set>
			<if test='name != null and name !=""'>
					NAME = #{name}
			</if>
		</set>
		WHERE ID = #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM <include refid="TABLE" />
		WHERE ID = #{id}
	</delete>
	
</mapper>        